.html {
    font-family: 'Mansalva', sans-serif;
    display: inline-block;
    margin: 0px auto;
    text-align: center;
    background-color: #000000;
    color: #000000;
}
.html {
  display: block;
  margin: 0px auto;
  text-align: center;
}
.body{
    margin: 0px;
    background-color: #000000;
}
.h1 {
  margin: 10px auto 30px;  
}
p {
    font-size: 1.5rem;
}

.navbar{
  background:#000000;
}
.navbar-brand{
  -webkit-text-fill-color: #f3f7f8;
  font-family: 'Special Elite', sans-serif;
}
.nav-link{
  -webkit-text-fill-color: #f7f9f9;
  font-family: 'Special Elite', sans-serif;
}
.nav-menu{
  font-family: 'Special Elite', sans-serif;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(102,255,247, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler.navbar-toggler {
  border-color: rgb(102, 255, 247);
} 
.button {
    display: inline-block;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 40px;
    text-decoration: none;
    font-size: 30px;
    margin: 2px;
    cursor: pointer;
}
.button2 {
    background-color: #f44336;
}
.units {
    font-size: 1.2rem;
}
.sensor-labels {
    font-size: 1.5rem;
    vertical-align:middle;
    padding-bottom: 15px;
}
.material-symbols-outlined{
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.my-header{
    font-family: 'Mansalva', sans-serif;
    font-size: 45px;
    color: #02f7f7;
    text-shadow: #f2f5f6;
    animation: glow 1s ease-in-out infinite alternate
}
@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6, 0 0 45px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6, 0 0 80px #0073e6;
  }
}
.side-by-side{
    display: table-cell; vertical-align: middle; position: static;
}
.text{
    font-weight: 100;
    font-size: 20px;
    width: 160px;
}
.text2{
    font-family: 'Creepster',sans-serif;
    font-weight: 100;
    font-size: 20px;
    width: 160px;
}
.reading{
    font-weight: 100;font-size: 20px;padding-right: 25px;padding-left :25px;
}
.temperature .reading{
    color: #F29C1F;
    font-family: 'bungee',sans-serif;
}
.humidity .reading{
    color: #3B97D3;
    font-family: 'bungee',sans-serif;
}
.time .reading{
    color: #b406df;
    font-family: 'bungee',sans-serif;
}
.time2 .reading{
  color: #b406df;
  font-family: 'bungee',sans-serif;
}
.date .reading{
  color: #008CBA;
  font-family: 'bungee',sans-serif;
}
.date2 .reading{
  color: #b406df;
}
.timertc .reading{
    color:  #06b4df;
    font-family: 'bungee',sans-serif;
}
.datertc .reading{
  color: #06b4df;
}
.date .reading{
    color: #03bf10;
}
.wifi .reading{
    color: #d2f608;
}
.superscript{
    font-family: 'Bungee',sans-serif;
    font-size: 1px;
    font-weight: 600;
    position: absolute;
}
.data{
    padding: 5px;
}
.data2{
    padding: 10px;
}
.container{
    display: table;margin: 0 auto;
}
.icon{
    width:65px
}
.information{
    font-family:  'Bungee', sans-serif;
    font-size: 15px;
    color: #09db37;
    -webkit-text-stroke: 0px #08f63f;
    padding: 2vh;
}
.information2{
  font-family:  'luckiest guy', sans-serif;
  font-size: 20px;
  color: #09dbcd;
  -webkit-text-stroke: 0px #08f63f;
  padding: 2vh;
}
.wifitext{
    font-family: 'Macondo', cursive;
    font-size: 15px;
    color: #4aef35;
}
.mainsetting2{
  font-family: 'Mansalva',sans-serif;
  font-size: 20px;
  color: #b92dfa;
}
.alarm{
    font-family: 'special elite', cursive;
    font-size: 15px;
    color: #bf1903;
}
.alarm2{
  font-family: 'special elite', cursive;
  font-size: 10px;
  color: #eaa721;
}
.alarm3{
  font-family: 'special elite', cursive;
  font-size: 15px;
  color: #fbfb22;
}
input[type=submit] {
    background-color: #4706d4;
    border-radius: 16px;
    color: #fafbf8;
    padding: 2px 10px;
    text-decoration: none;
    margin: 1px 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
.form-check{
    width: 300px;
    height: 10px;
    padding: 0;
    margin-left: 42%;
    vertical-align: relative;
    position: relative;
    top: 0px;
}

input[type=range] {
    width: 30%;
    margin: 50px 0;
    background-color: transparent;
    appearance:none;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    background: rgba(58, 30, 70, 0.7);
    border: 0.2px solid #800cc3;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
    width: 60px;
    height: 60px;
    background: rgb(73, 155, 141);
    border: 5px solid #d6e905;
    border-radius: 50px;
    cursor: pointer;
    appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #2b093f;
}
input[type=range]::-moz-range-track {
    background: rgba(109, 3, 155, 0.7);
    border: 0.2px solid #0cc337;
    border-radius: 50px;
    width: 50%;
    height: 50px;
    cursor: pointer;
}
input[type=range]::-moz-range-thumb {
    width: 60px;
    height: 60px;
    background: #070606;
    border: 5px solid #e9e105;
    border-radius: 50px;
    cursor: pointer;
}
input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 21.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}
input[type=range]::-ms-fill-lower {
    background: #462ea2;
    border: 0.2px solid #000101;
    border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
    background: rgba(70, 46, 162, 0.7);
    border: 0.2px solid #000101;
    border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
    width: 50px;
    height: 50px;
    background: #ffffff;
    border: 3.4px solid #000000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
    background: rgba(20, 201, 41, 0.7);
}
input[type=range]:focus::-ms-fill-upper {
    background: #290bed;
}
.slider2
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}
.slider2:before
{
  position: absolute;
  content: "";
  width: 50%;
  height: 100%;
  background-color: #861313;
  border-radius: 30px;
  transform: translateX(-25px); /*translateX(-(w-h))*/
  transition: 0.2s;
}
input:checked + .slider2:before
{
  transform: translateX(0px); /*translateX(w-h)*/
  background-color: limeGreen;
}
input:checked + .slider2
{
  box-shadow: 0 0 0 2px limeGreen, 0 0 4px limeGreen;
}
  .switch2 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  /* Hide default HTML checkbox */
  .switch2 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  /* The slider */
  .slider1 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fcfafa;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .slider1:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(117, 12, 169);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 15px;
    
  }
  input:checked + .slider1 {
    background-color: rgb(233, 238, 148);
    
  }
  
  input:focus + .slider1 {
    box-shadow: 0 0 1px #a0eaa3;
    
  }
  input:checked + .slider1:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider1.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }
  input[type=time] {
    border: none;
    color: #01090e;
    font-size: 14px;
    font-weight: bold;
    font-family: helvetica;
    width: 200px;
    border-radius: 10px;
  } 
  /* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */
  input[type=time]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  }
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  input[type=time]::-webkit-datetime-edit-text {
    padding: 19px 4px;
  }
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  /* Hour */
  input[type=time]::-webkit-datetime-edit-hour-field {
    color: rgb(2, 2, 2);
    background-color: #f7f9f9;
    border-radius: 15%;
    padding: 19px 13px;
  }
  /* Minute */
  input[type=time]::-webkit-datetime-edit-minute-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }
  /* AM/PM */
  input[type=time]::-webkit-datetime-edit-ampm-field {
    background-color: #c3f0ee;
    border-radius: 15%;
    color: #020202;
    padding: 19px 13px;
  }
  /* 'X' button for resetting/clearing time */
  input[type=time]::-webkit-clear-button {
    display: none;
  }
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=time]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=date] {
    border: none;
    color: #01090e;
    font-size: 14px;
    font-weight: bold;
    font-family: helvetica;
    width: 200px;
    border-radius: 10px;
  }
  /* Wrapper around the hour, minute, second, and am/pm fields as well as 
  the up and down buttons and the 'X' button */
  input[type=date]::-webkit-datetime-edit-fields-wrapper {
    display: flex;
  } 
  /* The space between the fields - between hour and minute, the minute and 
  second, second and am/pm */
  input[type=date]::-webkit-datetime-edit-text {
    padding: 19px 4px;
  }
  /* The naming convention for the hour, minute, second, and am/pm field is
  `-webkit-datetime-edit-{field}-field` */
  /* Hour */
  input[type=date]::-webkit-datetime-edit-day-field {
    color: rgb(2, 2, 2);
    background-color: #f7f9f9;
    border-radius: 15%;
    padding: 19px 13px;
  } 
  /* Minute */
  input[type=date]::-webkit-datetime-edit-month-field {
    background-color: #f2f4f5;
    border-radius: 15%;
    padding: 19px 13px;
  }
  /* AM/PM */
  input[type=date]::-webkit-datetime-edit-year-field {
    background-color: #c3f0ee;
    border-radius: 15%;
    color: #020202;
    padding: 19px 13px;
  }
  /* 'X' button for resetting/clearing time */
  input[type=date]::-webkit-clear-button {
    display: none;
  }
  /* Up/Down arrows for incrementing/decrementing the value */
  input[type=date]::-webkit-inner-spin-button {
    display: none;
  }
  input[type=button] {
    background-color: #4706d4;
    border-radius: 16px;
    color: #fafbf8;
    padding: 2px 10px;
    text-decoration: none;
    margin: 1px 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .mainsetting{
    font-family: 'Mansalva',sans-serif;
    font-size: 45px;
    color: #7e04ab;
    text-shadow: #f2f5f6;
    animation: glow2 1s ease-in-out infinite alternate
  }
  @keyframes glow2 {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #b400e6, 0 0 20px #b400e6, 0 0 25px #b400e6, 0 0 30px #b400e6, 0 0 35px #b400e6,0 0 45px #b400e6;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ba35f7, 0 0 40px #ba35f7, 0 0 50px #ba35f7, 0 0 60px #ba35f7, 0 0 70px #ba35f7, 0 0 45px #b400e6;
    }
  }
  .alarmsetting{
    font-family: 'bungee',sans-serif;
    font-size: 45px;
    color: #fd0202;
    text-shadow: #050505;
    animation: glow3 1s ease-in-out infinite alternate
  }
  @keyframes glow3 {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e5a803, 0 0 20px #e5a803, 0 0 25px #e5a803, 0 0 30px #e5a803, 0 0 35px #e5a803;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f50817, 0 0 40px #f50817, 0 0 50px #f50817, 0 0 60px #f50817, 0 0 70px #f50817;
    }
  }
  .wifisetting{
    font-family: 'rubik doodle shadow',sans-serif;
    font-size: 45px;
    color: #0ef702;
    text-shadow: #f2f5f6;
    animation: glow4 1s ease-in-out infinite alternate
  }
  @keyframes glow4 {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e60f, 0 0 20px #00e60f, 0 0 25px #00e60f, 0 0 30px #00e60f, 0 0 35px #00e60f;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #c0e600, 0 0 40px #c0e600, 0 0 50px #c0e600, 0 0 60px #c0e600, 0 0 70px #c0e600;
    }
  }
  .warning{
    font-family: 'bungee',sans-serif;
    font-size: 45px;
    color: #fd0202;
    text-shadow: #050505;
    animation: glow5 1s ease-in-out infinite alternate
  }
  @keyframes glow5 {
    from {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #f50817, 0 0 20px #f50817, 0 0 25px #f50817, 0 0 30px #f50817, 0 0 35px #f50817;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f50817, 0 0 40px #f50817, 0 0 50px #f50817, 0 0 60px #f50817, 0 0 70px #f50817;
    }
  }
  .hourchange{
    font-family: 'Special Elite', sans-serif;
    font-size: 15px;
    color: #02f7f7;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .switch-container {
    position: relative;
    border-radius: 3.125em;
    box-shadow: 0 .125em .25em rgba(#000, .2);
    overflow: hidden;
    cursor: pointer;
  }
  
  .switch-input {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }
  
  .switch-button {
    display: inline-flex;
    padding: 0 .375em;
    border-radius: inherit;
    border: .0625em solid #6b717b;
    background-color: #aaafbb;
    box-shadow: inset 0 0 .5em rgba(#000, .4);
    transition-property: border-color, background-color;
    transition-duration: .2s;
    
    .switch-input:checked + & {
      border-color: #43316f;
      background-color: #7550d9;
    }
  }
  
  .switch-button-inside {
    display: inline-flex;
    column-gap: 1em;
    position: relative;
    border-radius: inherit;
    padding: .75em;
    transform: translateX(-.375em);
    background-image: linear-gradient(90deg, #c5c9d3 48%, #d5d7dd 52%);
    box-shadow: 
      inset .0625em 0 .0625em rgba(#fff, .4),
      inset -.0625em 0 .0625em rgba(#fff, .4);
    transition-property: transform;
    transition-duration: .2s;
    
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: inherit;
      background-image: linear-gradient(90deg, #926afe 48%, #885bff 52%);
      box-shadow: 
        inset .0625em 0 .0625em rgba(#fff, .2),
        inset -.0625em 0 .0625em rgba(#fff, .2);
      opacity: 0;
      transition-property: opacity;
      transition-duration: .2s;
    }
    
    .switch-input:checked + .switch-button > & {
      transform: translateX(.375em);
      
      &::after {
        opacity: 1;
      }
    }
  }
  
  .switch-icon {
    width: 1em;
    height: 1em;
    fill: #fff;
    filter: 
      drop-shadow(0 .0625em .0625em rgba(#000, .4))
      drop-shadow(0 0 .25em rgba(#fff, .4))
      drop-shadow(0 0 .25em rgba(#fff, .4));
    transition-property: fill;
    transition-duration: .2s;
    
    &.off {
      .switch-input:checked + .switch-button & {
        fill: #704ccf;
        filter: none;
      }
    }
    
    &.on {
      .switch-input:not(:checked) + .switch-button & {
        fill: #767c86;
        filter: none;
      }
    }
  }
  .power-switch {
    --color-invert: #82fa4b;
    --width: 150px;    
    --height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    .button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      position: relative;
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: radial-gradient(circle closest-side, var(--color-invert), transparent);
        filter: blur(20px);
        opacity: 0;
        transition: opacity 1s ease, transform 1s ease;
        transform: perspective(1px) translateZ(0);
        backface-visibility: hidden;
      }
      .power-on,
      .power-off {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        fill: none;
        stroke: var(--color-invert);
        stroke-width: 8px;
        stroke-linecap: round;
        stroke-linejoin: round;
        .line {
          opacity: .2;
        }
        .circle {
          opacity: .2;
          transform: rotate(-58deg);
          transform-origin: center 80px;
          stroke-dasharray: 220;
          stroke-dashoffset: 40;
        }
      }
      .power-on {
        filter: drop-shadow(0px 0px 6px rgba(253, 253, 253, 0.8));
        .line {
          opacity: 0;
          transition: opacity .3s ease 1s;
        }
        .circle {
          opacity: 1;
          stroke-dashoffset: 220;
          transition: transform 0s ease, stroke-dashoffset 1s ease 0s;
        }
      }
    }
    input {
      position: absolute;
      height: 100%;
      width: 100%;
      z-index: 2;
      cursor: pointer;
      opacity: 0;
      &:checked {
        + .button {
          &:after {
            opacity: 0.15;
            transform: scale(2) perspective(1px) translateZ(0);
            backface-visibility: hidden;
            display: none;
            transition: opacity .5s ease, transform .5s ease;
          }
          .power-on,
          .power-off {
            animation: click-animation .3s ease forwards;
            transform: scale(1);
            .line {
              animation: line-animation .8s ease-in forwards;
            }
            .circle {
              transform: rotate(302deg);
            }
          }
          .power-on {
            .line {
              opacity: 1;
              transition: opacity .05s ease-in .55s;
            }
            .circle {
              transform: rotate(302deg);
              stroke-dashoffset: 40;
              transition: transform .4s ease .2s, stroke-dashoffset .4s ease .2s;
            }
          }
        }
      }
    }
  }
  
  @keyframes line-animation {
    0% {
      transform: translateY(0);
    }
    10% {
      transform: translateY(10px);
    }
    40% {
      transform: translateY(-25px);
    }
    60% {
      transform: translateY(-25px);
    }
    85% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes click-animation {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(.9);
    }
    100% {
      transform: scale(1);
    }
  }
  .hidden{
    opacity: 100;
  }